services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: base
    container_name: cloudforge-dev
    ports:
      - "5050:5002"
    environment:
      NODE_ENV: development
      PORT: 5002

      # ✅ NEON — IPv4 forced
      DATABASE_URL: postgresql://neondb_owner:npg_a5UrbHK4DeWE@ep-cold-violet-aingm4b9-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&pgbouncer=true&hostaddr=44.211.114.173

      REDIS_URL: redis://cloudforge-redis:6379
      SESSION_SECRET: dev-secret

    sysctls:
      net.ipv6.conf.all.disable_ipv6: "1"
      net.ipv6.conf.default.disable_ipv6: "1"

    volumes:
      - .:/app
      - /app/node_modules
    command: npm run dev
    depends_on:
      - redis
    networks:
      - cloudforge-network

  redis:
    image: redis:7-alpine
    container_name: cloudforge-redis
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    networks:
      - cloudforge-network

volumes:
  redis_data:

networks:
  cloudforge-network:
    driver: bridge
